```
--- Day 3: No Matter How You Slice It ---

The Elves managed to locate the chimney-squeeze prototype fabric for Santa's suit (thanks to someone who helpfully wrote its box IDs on the wall of the warehouse in the middle of the night). Unfortunately, anomalies are still affecting them - nobody can even agree on how to cut the fabric.

The whole piece of fabric they're working on is a very large square - at least 1000 inches on each side.

Each Elf has made a claim about which area of fabric would be ideal for Santa's suit. All claims have an ID and consist of a single rectangle with edges parallel to the edges of the fabric. Each claim's rectangle is defined as follows:

The number of inches between the left edge of the fabric and the left edge of the rectangle.
The number of inches between the top edge of the fabric and the top edge of the rectangle.
The width of the rectangle in inches.
The height of the rectangle in inches.
A claim like #123 @ 3,2: 5x4 means that claim ID 123 specifies a rectangle 3 inches from the left edge, 2 inches from the top edge, 5 inches wide, and 4 inches tall. Visually, it claims the square inches of fabric represented by # (and ignores the square inches of fabric represented by .) in the diagram below:

...........
...........
...#####...
...#####...
...#####...
...#####...
...........
...........
...........
The problem is that many of the claims overlap, causing two or more claims to cover part of the same areas. For example, consider the following claims:

#1 @ 1,3: 4x4
#2 @ 3,1: 4x4
#3 @ 5,5: 2x2
Visually, these claim the following areas:

........
...2222.
...2222.
.11XX22.
.11XX22.
.111133.
.111133.
........
The four square inches marked with X are claimed by both 1 and 2. (Claim 3, while adjacent to the others, does not overlap either of them.)

If the Elves all proceed with their own plans, none of them will have enough fabric. How many square inches of fabric are within two or more claims?
```

In [26]:
import numpy as np
import pandas as pd
import re

x = pd.Series(range(5))
x + 5

y = pd.Series(range(5)) * 3

In [27]:
dd = pd.DataFrame({
    'x': x,
    'y': y
})

In [28]:
dd

   x   y
0  0   0
1  1   3
2  2   6
3  3   9
4  4  12

In [35]:
input = []

with open('input.txt', 'r') as f:
    input = f.read().split('\n')

data_pattern = '#(\d+)\s+@\s+(\d+,\d+):\s+(\d+x\d+)'

split_data = pd.DataFrame(
    [
        re.split(data_pattern, line)[1:-1] # peel off the first and last substrings, which are empty because they weren't captured
        for line in input
    ],
    columns=["id", "starting coordinates", "area"]
)
print(split_data)

        id starting coordinates   area
0        1               55,885  22x10
1        2               102,14  23x14
2        3              539,327  21x22
3        4              429,353  14x25
4        5              232,934  29x11
5        6              796,785  17x18
6        7               508,96  11x18
7        8               83,289  28x23
8        9               291,46  21x17
9       10              505,954  23x15
10      11              934,606  17x25
11      12              125,764  19x16
12      13              699,475  25x23
13      14              517,816  13x12
14      15              983,477  16x12
15      16              442,603  18x24
16      17              330,620  16x26
17      18              347,266  25x29
18      19              679,465  20x29
19      20               18,956  17x18
20      21              204,804  11x26
21      22              566,263  24x22
22      23              771,152  16x19
23      24              982,617  15x28
24      25               932,20  27x11
25      26              797,194  11x29
26      27              596,666  17x21
27      28              388,129  29x10
28      29              268,255  17x23
29      30               824,88  15x24
...    ...                  ...    ...
1319  1320              657,856  16x13
1320  1321              316,889  25x22
1321  1322              940,854  24x22
1322  1323              306,697  10x11
1323  1324              422,656  23x14
1324  1325              866,812  15x20
1325  1326               569,55  25x12
1326  1327              947,333  11x28
1327  1328              814,924  12x26
1328  1329                652,9  21x21
1329  1330              365,279  12x15
1330  1331              232,626  16x12
1331  1332              482,364  13x15
1332  1333               69,240  11x28
1333  1334              751,293  15x27
1334  1335              879,782  23x13
1335  1336               82,359  27x12
1336  1337              330,618  16x13
1337  1338              788,774  13x25
1338  1339               39,205  20x18
1339  1340              366,961  17x25
1340  1341              729,414  23x17
1341  1342               60,404  24x15
1342  1343               88,565  22x26
1343  1344              799,730  18x19
1344  1345              486,629  16x25
1345  1346              180,635  21x17
1346  1347              753,119  21x29
1347  1348               83,588  21x18
1348  1349              724,871  21x26

[1349 rows x 3 columns]